.advertTop {
    padding: 30px;
    padding-bottom: 23px;
}
.advertTop .advertTopContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media (max-width: 768px) {
    .advertTop .advertTopContainer {
        flex-direction: column;
    }
}