.newsLetter {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 15px;
}
.newsLetter img {
    width: 100%;
}
@media (min-width: 768px) {
    .newsLetter img {
        grid-column: span 2;
    }
    .newsLetter article {
        grid-column: span 1;
    }   
}
@media (max-width: 767px) {
    .newsLetter {
        grid-template-columns: 1fr;
    }
}
.newsLetter form {
    margin-top: 1rem;
    padding: 20px;
    background-color: #eee;
}
.newsLetter form p {
    margin-bottom: 1rem;
    font-weight: 800;
}
.newsLetter form div {
    position: relative;
}
.newsLetter form input {
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
}
.newsLetter form button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 44px;
    height: 44px;
    right: 0;
    padding: 10px;
    border: none;
    background-color: #ec0000;
    color: #fff;
    cursor: pointer;
}
@media (max-width: 767px) {
    .newsLetter {
        grid-template-columns: repeat(1, 1fr);
    }
}