.navbarBottom {
    background-color: #ce0000;
    color: #fff;
    height: 60px;
}
.navbarBottom .navbarBottomWrapper {
    flex: 1;
    padding: 20px 30px;
}
.navbarBottom .navbarBottomWrapper .dropdown {
    user-select: none;
    flex: 1;
}
.navbarBottom .navbarBottomWrapper,
.navbarBottom .navbarBottomWrapper .dropdown > li:first-of-type {
    position: relative;
}
.navbarBottom .navbarBottomWrapper .dropdown > li > a {
    display: flex;
    align-items: center;
    gap: 5px;
}
.navbarBottom .navbarBottomWrapper .dropdown > li > a,
.navbarBottom .navbarBottomWrapper .search {
    cursor: pointer;
}
.navbarBottom .navbarBottomWrapper .dropdown > li > a svg {
    font-size: 20px;
}
.navbarBottom .navbarBottomWrapper .search svg {
    margin-left: 1rem;
    font-size: 20px;
}
.navbarBottom .navbarBottomWrapper .dropdown li .home {
    position: absolute;
    width: 160px;
    top: calc(60px - 18px);
    color: #777;
    padding: 1rem;
    background-color: #fff;
    display: grid;
    gap: 1rem;
    box-shadow: 0 5px 10px rgb(0 0 0 / 0.1);
    z-index: 1;
    border-bottom: 2px solid #ce0000;
}
.navbarBottom .navbarBottomWrapper .dropdown li .home a {
    cursor: pointer;
    transition: color 300ms;
    &:hover {
        color: #ce0000;
    }
}
.navbarBottom .navbarBottomWrapper .dropdown .works {
    padding: 2rem 0;
    width: 100%;
    position: absolute;
    top: 63px;
    left: 0;
    background-color: #fff;
    color: #777;
}
.navbarBottom .navbarBottomWrapper .dropdown .works .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
}
.navbarBottom .navbarBottomWrapper .dropdown .works article {
    position: relative;
    padding: 0 15px;
}
.navbarBottom .navbarBottomWrapper .dropdown .works span {
    position: absolute;
    background-color: #111;
    color: #fff;
    top: 0;
    padding: 5px 10px;
    &:hover {
        background-color: #ce0000;
    }
}
.navbarBottom .navbarBottomWrapper .dropdown .works img {
    display: block;
    max-width: 100%;
}
.navbarBottom .navbarBottomWrapper .dropdown .works svg {
    position: absolute;
    top: 0;
    right: 15px;
    background-color: #111;
    color: #fff;
    width: 30px;
    height: 30px;
    padding: 5px;
    &:hover {
        background-color: #ce0000;
    }
}
.navbarBottom .navbarBottomWrapper .dropdown .category-list {
    position: absolute;
    width: 100%;
    top: 63px;
    left: 0;
    background-color: #fff;
    color: #777;
    padding: 1rem;
    border-bottom: 2px solid #ce0000;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(195px, 1fr));
}
.navbarBottom .navbarBottomWrapper .dropdown .category-list ul {
    display: grid;
    row-gap: 10px;
}
.navbarBottom .navbarBottomWrapper .dropdown .category-list div ul:first-of-type {
    margin-bottom: 1rem;
}
.navbarBottom .navbarBottomWrapper .dropdown .category-list h4 {
    color: #000;
    font-weight: 800;
    font-size: 20px;
}
.navbarBottom .navbarBottomWrapper .dropdown .category-list a {
    transition: color 300ms;
    cursor: pointer;
    &:hover {
        color: #ce0000;
    }
}