.styleOne .grid .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #777;
    span {
        font-size: 12px;
    }
}
.styleOne .grid .col img {
    width: 100%;
}
.styleOne .grid p {
    font-weight: 800;
    font-size: 11px;
}