* {
    margin: 0;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url(./assets/bg-pattern.png);
}

ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.center-y {
    display: flex;
    align-items: center;
}

.center-y-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}